.nestable-menu {
  text-align: right;
}
.nestable-menu a {
  font-size: .9em;
  margin-left: .5em;
}
.nestable {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}
.nestable-list {
  display: block;
  position: relative;
  margin: 0 !important;
  padding: 0;
  list-style: none;
}
.nestable-list .nestable-list {
  padding-left: 25px;
}
.nestable-collapsed .nestable-list {
  display: none;
}

.nestable-item,
.nestable-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px;
}

.nestable-handle {
  display: block;
  height: 29px;
  width: 29px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  cursor: move;
  text-indent: 100%;
  overflow: hidden;
  border: 1px dotted #CCC;
  border-right-style: solid;
  background: #FFF url(../images/draggable.png) 7px 7px no-repeat;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.nestable-handle:hover {
  background-position: 7px -18px;
}
.nestable-item-title {
  font-weight: bold;
  margin-right: 1em;
}

.nestable-expand-list,
.nestable-collapse-list {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  left: 5px;
  top: 5px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  margin-left: 29px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: solid 1px #CCC;
  border-radius: 5px;
}
.nestable-expand-list:hover,
.nestable-collapse-list:hover {
  background-color: #FFF;
}

.nestable-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 29px;
  background: #F5FFFF;
  border: 1px dashed #b6bcbf;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

}


.nestable-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  margin-top: 10px;
}

.nestable-dragel > .nestable-item .nestable-handle {
  margin-top: 0;
}

.nestable-dragel .nestable-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.nestable-item-content {
  display: block;
  height: 29px;
  margin: 5px 0;
  padding: 4px 10px 5px 55px;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  background: #F3F4EE;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nestable-item-content:hover {
  background: #F9FAF5;
}
.nestable-dragel .nestable-item-content {
  background: #FFB;
  margin-top: 0px;
}
.nestable-item-links {
  float: right;
}
